.allBlog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
  width: 70%;
}

@media screen and (max-width: 430px) {
  .allBlog {
    padding: 0;
    width: 90%;
  }
}
