.Back {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 2rem 0;
}

@media screen and (max-width: 1280px) {
  .Back {
    width: 75%;
  }
}

@media screen and (max-width: 884px) {
  .Back {
    width: 85%;
  }
}
