.certificates h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 5rem;
}

.owl-carousel-container {
    margin: 20px;
}

.owl-carousel .carousel-item {
    margin-right: 10px;
}

@media (min-width: 600px) {
    .owl-carousel .carousel-item {
        margin-right: 20px;
    }
}

@media (min-width: 1000px) {
    .owl-carousel .carousel-item {
        margin-right: 30px;
    }
}