.cards {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 525px;
  padding: 2rem;
  border-radius: 10px;
  gap: 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.01);
}

.cards header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.cards header p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.cards .description {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.cards .description p {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.cards .img img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1105px) {
  .cards {
    width: 400px;
  }
}

@media screen and (max-width: 815px) {
  .cards {
    width: 330px;
  }
}

@media screen and (max-width: 430px) {
  .cards {
    width: 400px;
  }
}

@media screen and (max-width: 390px) {
  .cards {
    width: 340px;
  }
}
