.contact-container {
    margin-left: 34rem;
    margin-top: 1rem;
}

.contact {
    font-size: 0.9rem;
    color: #ffffff;
}

.contact h2 {
    font-weight: 600;
}

.contact-form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    ;
}

.contact-form label {
    background-color: #1E1E1E;
    color: #ffffff81;
    font-size: 25px;
    border: none;
    outline: none;
    padding: 0.5rem;
    padding-right: 25rem;
    border-radius: 10px;
    width: 55%;
}

.contact-form a {
    background-color: #1E1E1E;
    color: #ffffff;
    font-size: 25px;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 10px;
    margin-left: 1rem;
    width: 5%;

}

@media screen and (max-width: 1728px) {
    .contact-container {
        margin-left: 25rem;

    }

    .contact-form label {
        width: 60%;
    }

    .contact-form a {
        width: 10%;

    }
}

@media screen and (max-width: 1280px) {
    .contact-container {
        margin-left: 12.5rem;
    }

}


@media screen and (max-width: 800px) {
    .contact-container {
        margin-left: 0.5rem;
    }

    .contact-form label {
        width: 15%;
        font-size: 1rem;
        padding-right: 25rem;
        border-radius: 10px;
    }

    .contact-form a {
        width: 15%;
        font-size: 1rem;
        padding: 0.7rem;
    }
}

@media screen and (max-width: 430px) {
    .contact-container {
        margin-left: 0.5rem;
    }

    .contact-form label {
        width: 15%;
        font-size: 1rem;
        padding-right: 1rem;
        border-radius: 10px;
    }

    .contact-form a {
        width: 15%;
        font-size: 1rem;
        padding: 0.7rem;
        margin-left: 0.5rem;
    }

}