footer{
    @include flex (row, nowrap, space-around, center);
    padding-top: 200px;
    .logo-footer{
        img {
            height: 150px;
            transition: 0.5s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .social {
        a {
            padding: 10px;
            i{
                color: #acacac;
                font-size: 20px;
            }
            
        }
    }
}