main {
    .hero {
        @include flex(row, nowrap, space-evenly, center);
        margin-top: 200px;
        .info{
            padding-left: 300px;
            padding-right: 100px;
            h2 {
                color: #ffffff;
                font-size: 50px;
                span {
                    color: $colorprincipal;
                }
            }
            p {
                color: #acacac;
                font-size: 15px;
                margin-bottom: 20px;
            }
            .social {
                a {
                    padding: 10px;
                    i{
                        color: #acacac;
                        font-size: 20px;
                    }
                    
                }
            }
        }
        .info-foto {
            margin-right: 300px;
            img {
                height: 400px;
                width: auto;
            }
        }
    }
    .flecha{
        @include flex (row, nowrap, center, center);
        margin-top: 200px;
        margin-bottom: 70px;
        i{
            color: #acacac;
        }
    }
    .abbz {
        margin-top: 50px;
        .abb{
        @include flex (row, nowrap, center, center);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #acacac;
        padding-bottom: 70px;
            span{
                color: $colorprincipal;
            }
        }
    }
    .about {
        @include flex (row-reverse, nowrap, space-around, center);
        .me-about {
            @include flex (column, nowrap, center, center);
            padding-left: 140px;
            padding-right: 140px;
            h2 {
                text-align: center;
                color: #ffffff;
                margin-bottom: 40px;
            }
            p {
                color: #acacac;
                text-align: center;
            }
        }
        .me-about-foto {
            padding-left: 300px;
            img{
                height: 400px;
                width: 400px;
                border-radius: 20px;
            }
        }
    }
    .proyect {
        @include flex (row, wrap, space-evenly, center);
        padding: 10px;
        .servicios-card {
            text-align: center;
            padding: 1rem;
            background-color: #616161;
            border-radius: 1rem;
            img {
                margin-top: 25px;
                border-radius: 10px;
                width: 350px;
                height: auto;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 50px;
                color: #ffffff
            }
            a {
                i{
                    color: #acacac;
                    font-size: 30px;
                }
            }
        }
    }
    .introduccion {
        @include flex (column, nowrap, center, center);
        margin-top: 50px;
        margin-bottom: 50px;
        h2{
            color: #ffffff;
            margin-bottom: 40px;
        }
        p{
            color: #acacac;
            padding-right: 150px;
            padding-left: 150px;
            text-align: center;
        }
    }
    .proyect-b {
        @include flex (row, wrap, space-evenly, center);
        .servicios-card {
            text-align: center;
            padding: 1rem;
            border-radius: 1rem;
            background-color: #616161;
            margin-bottom: 20px;
            transition: 0.5s;
            img {
                margin-top: 0.5rem;
                border-radius: 10px;
                width: 350px;
                height: auto;
                margin-bottom: 0.5rem;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 15px;
                color: #ffffff
            }
            a {
                i{
                    color: #acacac;
                    font-size: 30px;
                }
            }
        }
    }
    .informacion-lenguajes{
        @include flex (column, nowrap, center, center);
        margin-top: 50px;
        h2{
            color: #ffffff;
        }
        .logos-l {
            @include flex (row, wrap, space-around, center);
            margin-top: 50px;
            a{
                padding: 60px;
            }
            .html {
                img{
                    width: 100px;
                    height: auto;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .css {
                img{
                    width: 70px;
                    height: auto;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .js {
                img{
                    width: 140px;
                    height: auto;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .reat{
                img{
                    width: 90px;
                    height: auto;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .sql{
                img{
                    width: 120px;
                    height: auto;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .git {
                img {
                    width: 100px;
                    height: auto;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    .about-me {
        @include flex (row, nowrap, space-around,center);
        .inf-about {
            margin-right: 15rem;
            h2{
                color: #ffffff;
                text-align: center;
                margin-bottom: 20px;
            }
            p {
                color: #acacac;
                text-align: center;
                margin-right: 10rem;
                margin-left: 10rem;
            }
        }
        .foto-about{
            margin-right: 15rem;
            margin-top: 7rem;
            img{
                height: 400px;
                width: auto;
            }
        }
    }
}