.container {
    margin-left: 34rem;
}

.experience {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #ffffff;
}

.experience h2 {
    font-weight: 600;
}

.timeline {
    position: relative;
    margin-top: 2rem;
}

.event {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    margin-bottom: 30px;
}

.bullet {
    width: 20px;
    height: 20px;
    background-color: #B4875C;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.line {
    position: absolute;
    width: 2px;
    height: calc(100% - 20px);
    background-color: #4a5568;
    left: 9px;
    top: 10px;
}

.content {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    width: 100%;
    flex-wrap: wrap; /* Allow content to wrap */
}

.left-column, .right-column {
    flex: 0.3; /* Allow columns to take equal space */
}

.right-column {
    margin-left: 1rem;
    margin-right: 0rem; /* Adjust margin to balance the layout */
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #B4875C;
}

.company {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff82;
}

.date {
    font-size: 0.8rem;
    color: #ffffff82;
}

.description {
    margin-top: 10px;
    color: #ffffffce;
    text-align: justify; /* Justify the text */
}

.more-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #B4875C;
    text-decoration: none;
    border-radius: 5px;
}

.more-info svg {
    margin-left: 5px;
}

@media screen and (max-width: 1742px) {
    .right-column {
        margin-left: 16rem;
    }
}

@media screen and (max-width: 1728px) {
    .container {
        margin-left: 25rem;
    }
}

@media screen and (max-width: 1560px) {
    .event {
        flex-direction: column;
    }

    .bullet {
        display: none;
    }

    .line {
        display: none;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-column {
        margin-left: 0;
        margin-right: 20rem;
    }

}

@media screen and (max-width: 1280px) {
    .container {
        margin-left: 12.5rem;
    }

    .right-column {
        margin-left: 0.5rem;
        margin-right: 16rem;
    }
}

@media screen and (max-width: 884px) {
    .container {
        margin-left: 1rem;
    }

    .right-column {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .event {
        flex-direction: column;
    }

    .bullet {
        display: none;
    }

    .line {
        display: none;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-column {
        margin-left: 0;
        margin-right: 1rem;
    }


}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 1rem;
    }

    .right-column {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .event {
        flex-direction: column;
    }

    .bullet {
        display: none;
    }

    .line {
        display: none;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-column {
        margin-left: 0;
        margin-right: 1rem;
    }

    .title {
        font-size: 1rem;
    }

    .company {
        font-size: 0.8rem;
    }

    .date {
        font-size: 0.8rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .more-info {
        font-size: 0.8rem;
    }
}