.login {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 52vh;
}

.login h2 {
    color: #ffffff;
    margin-bottom: 2rem;
}

.login p {
    color: red;
}

.login-module {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-login {
    width: 400px;
    height: 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 13px;
    background-color: rgba(217, 217, 217, 0.5);
    color: rgb(255, 255, 255);
}

.input-login::placeholder {
    color: white;
}

.btn-login {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 13px;
    background-color: #B4875C;
    color: rgb(255, 255, 255);
    font-weight: 500;
}