/* blogCard.module.css */

.blogCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 525px;
  border-radius: 20px;
  background-color: var(--colorPrimary);
  padding: 2rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.blogCard:hover {
  transform: scale(1.01);
}

.blogCard header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogCard header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.blogCard header p {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.blogCard footer {
  display: flex;
  flex-direction: column;
}

.blogCard footer p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

/* Skeleton styles */
.skeletonBlogCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 525px;
  height: auto;
  border-radius: 20px;
  background-color: var(--colorPrimary);
  padding: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, #ececec 25%, #f3f3f3 50%, #ececec 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.skeletonBlogCard > * {
  background-color: #cfcfcf;
  border-radius: 5px;
}

.skeletonBlogCard header .title {
  width: 70%;
  height: 20px;
  margin-bottom: 0.5rem;
  background-color: #cfcfcf;
}

.skeletonBlogCard header .date {
  width: 30%;
  height: 20px;
  background-color: #cfcfcf;
}

.skeletonBlogCard footer .caption {
  width: 100%;
  height: 2rem;
  background-color: #cfcfcf;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@media screen and (max-width: 1105px) {
  .blogCard {
    width: 400px;
  }
}

@media screen and (max-width: 815px) {
  .blogCard {
    width: 330px;
  }
}

@media screen and (max-width: 430px) {
  .blogCard {
    width: 400px;
  }
}

@media screen and (max-width: 390px) {
  .blogCard {
    width: 330px;
  }
}
